.input {
  border: 0.75px solid var(--theme-on-secondary);
  border-radius: 4px;
  position: relative;
  margin: 1.5rem 0;
  label {
    position: absolute;
    color: var(--theme-dark-gray);
    transition: all 150ms ease-in;
    transform: translate(0.5rem, 0.5rem);
  }
  input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    font-size: 1.25rem;
    padding: 1.25rem 0.5rem;
  }

  &.disabled {
    border: 0.75px solid var(--theme-disabled);
    label {
      color: var(--theme-on-disabled);
    }
    input {
      background-color: var(--theme-disabled);
      color: var(--theme-on-disabled);
    }
  }

  &:focus-within {
    border: 2px solid var(--theme-primary);
    label {
      color: var(--theme-primary);
      font-size: 0.65rem;
      transform: translate(0.5rem, 0.25rem);
    }
  }

  .checkmark {
    position: absolute;
    right: 12px;
    bottom: calc(50% - 24px);
    svg {
      fill: var(--theme-success);
      width: 24px;
    }
  }
}

:host.ng-touched.ng-dirty {
  .input {
    // border: 2px solid var(--theme-dark-gray);
    label {
      // color: var(--theme-dark-gray);
      font-size: 0.65rem;
      transform: translate(0.5rem, 0.25rem);
    }
  }
}

:host.ng-touched.ng-dirty {
  &.ng-invalid {
    .input {
      border: 2px solid var(--theme-error);
      label {
        color: var(--theme-error);
        font-size: 0.65rem;
        transform: translate(0.5rem, 0.25rem);
      }
    }
  }
}
