<div class="button special" role="button" *ngIf="type == 'google' && user">
  <div class="profile-icon">
    <img
      [src]="user.photoUrl"
      alt=""
      [ngStyle]="{
        backgroundImage: user.photoUrl,
        width: '100%',
        height: '100%',
        borderRadius: '50%'
      }"
    />
  </div>
  <div class="texts">
    <span class="bold">Sign in as {{ user.displayName }}</span>
    <span
      >{{ user.email }}
      <i>
        <svg viewBox="0 0 24 24">
          <use href="/assets/icons/icons.svg#arrowDown" />
        </svg> </i
    ></span>
  </div>
  <div class="google-mark">
    <svg viewBox="0 0 48 48">
      <use href="/assets/icons/icons.svg#googleLogo" />
    </svg>
  </div>
</div>
<div class="button" *ngIf="type == 'google' && !user" role="button">
  <i>
    <svg viewBox="0 0 24 24">
      <use href="/assets/icons/icons.svg#googleLogo" />
    </svg> </i
  >{{ text }}
</div>
<div class="button apple" role="button" *ngIf="type == 'apple'">
  <i>
    <svg viewBox="0 0 24 24">
      <use href="/assets/icons/icons.svg#appleLogo" />
    </svg> </i
  >{{ text }}
</div>
<button class="button" *ngIf="type == 'simple'">{{ text }}</button>
<button class="button outline" *ngIf="type == 'outline'">{{ text }}</button>
