.button {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 auto;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 150ms ease-in all;
  width: 100%;
  height: 45px;
  text-align: center;
  margin: 1rem 0;

  &.special {
    margin: 1.5rem 0;
    .profile-icon {
      color: white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      aspect-ratio: 1 / 1;
      font-weight: 700;
      display: grid;
      place-items: center;
      font-size: 0.75rem;
      margin-right: 0.75rem;
    }
    .texts {
      flex: 1;
      font-size: 11px;
      span {
        display: block;
        display: flex;
        align-items: center;

        svg {
          width: 15px;
          height: 15px;
          fill: var(--theme-on-super-light-gray);
          display: grid;
          place-items: center;
        }

        &.bold {
          font-weight: 700;
          color: var(--theme-secondary);
        }
      }
    }
    .google-mark {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  &.apple {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-secondary);
    font-weight: 600;
    margin: 1.5rem 0;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 0.35rem;
    }
  }
  &.outline {
    border: 1px solid white;
    background: transparent;
    color: white;

    &:hover {
      background-color: #181919;
    }
  }
  &:hover {
    background-color: #e6e6e6;
  }
}
