<div class="content">
  <h1 class="headline">Join Twitter Today</h1>
  <div class="buttons">
    <app-button type="google" (click)="authService.GoogleAuth()"></app-button>
    <app-button type="apple" text="Sign Up With Apple"></app-button>
  </div>
  <span class="separator">or</span>
  <app-button text="Create an account" (click)="openSignupForm()"></app-button>
  <div class="policy">
    By signing up, you agree to the <span>Terms of Service</span> and
    <span>Privacy Policy</span>, including <span>Cookie Use</span>.
  </div>

  <div class="already-have-an-account">
    Have an account already?
    <a routerLink="/flow/signin"><span>Log in</span></a>
  </div>
</div>
<router-outlet></router-outlet>
