<div class="content">
  <h1 class="headline">Sign in to Twitter</h1>
  <div class="buttons">
    <div class="button special" role="button">
      <div class="profile-icon">Y</div>
      <div class="texts">
        <span class="bold">Sign in as Yann</span>
        <span
          >yanndjoumessi@gmail.com
          <i>
            <svg viewBox="0 0 24 24">
              <use href="/assets/icons/icons.svg#arrowDown" />
            </svg> </i
        ></span>
      </div>
      <div class="google-mark">
        <svg viewBox="0 0 48 48">
          <use href="/assets/icons/icons.svg#googleLogo" />
        </svg>
      </div>
    </div>
    <div class="button apple" role="button">
      <i>
        <svg viewBox="0 0 24 24">
          <use href="/assets/icons/icons.svg#appleLogo" />
        </svg> </i
      >Sign in With Apple
    </div>
  </div>

  <span class="separator">or</span>
  <div class="phoneOrEmail {{ 'test' }}">
    <label for="phoneOrEmail">Phone, email, or username</label>
    <input
      type="text"
      name="phoneOrEmail"
      id="phoneOrEmail"
      [(ngModel)]="control"
      #formControl="ngModel"
      required
    />
  </div>
  <button class="button">Next</button>
  <button class="button outline">Forgot password?</button>

  <div class="already-have-an-account">
    Don't have an account? <a routerLink="/signup"><span>Signup</span></a>
  </div>
</div>
