.content {
  max-width: 350px;
  margin: 0 auto;
  .headline {
    text-align: center;
    color: #d4d6d8;
  }
  .step {
    .loginButton {
      margin-top: 5rem;
    }
  }
}

.separator {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 45%;
    height: 1px;
    margin: auto 0;
    background-color: var(--theme-light-gray);
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.already-have-an-account {
  color: var(--theme-on-secondary);
  margin-top: 5rem;

  span {
    color: var(--theme-primary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
