<div class="content">
  <h1 class="headline">Sign in to Twitter</h1>
  <div class="buttons">
    <app-button type="google" (click)="authService.GoogleAuth()"></app-button>
    <app-button type="apple" text="Sign in With Apple"></app-button>
  </div>

  <span class="separator">or</span>
  <app-input-box
    placeholder="Phone,Email or Username"
    name="login-token"
  ></app-input-box>
  <app-button text="Next"></app-button>
  <app-button type="outline" text="Forgot Password ?"></app-button>

  <div class="already-have-an-account">
    Don't have an account? <a routerLink="/flow/signup"><span>Signup</span></a>
  </div>
</div>
