<div class="container">
  <form class="signup-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="first-line">
      <div class="close-icon">
        <a routerLink="../">
          <i>
            <svg viewBox="0 0 24 24">
              <use href="/assets/icons/icons.svg#closeIcon" />
            </svg>
          </i>
        </a>
      </div>
      <div class="steps">Step 1 of 5</div>
    </div>
    <div class="content">
      <div class="headline">Create your account</div>
      <div class="inputs">
        <app-input-box
          class="input"
          placeholder="Name"
          name="name"
          formControlName="name"
        ></app-input-box>
        <app-input-box
          class="input"
          placeholder="Email"
          name="email"
          formControlName="email"
        ></app-input-box>
      </div>
      <div class="date-of-birth">
        <h3>Date of birth</h3>
        <p>
          This will not be shown publicly. Confirm your own age, even if this
          account is for a business, a pet, or something else.
        </p>
        <div class="selects">
          <app-select-box [values]="month" name="month"></app-select-box>
          <app-select-box name="day"></app-select-box>
          <app-select-box name="year"></app-select-box>
        </div>
      </div>
      <app-button type="simple" text="Next" [submit]="true"></app-button>
    </div>
  </form>
</div>
