.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242d34;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  z-index: 15;

  .signup-form {
    background-color: #000000;
    color: white;
    width: 75%;
    max-width: 600px;
    max-height: 1200px;
    padding: 1rem 1rem 5rem;
    margin: auto;
    border-radius: 25px;

    .first-line {
      display: flex;
      align-items: center;

      svg {
        fill: white;
        width: 20px;
        height: 20px;
      }

      .close-icon {
        margin-right: 1.5rem;
      }
      .steps {
        font: var(--main-bold-md);
      }
    }

    .content {
      max-width: 400px;
      margin: 0 auto;

      .headline {
        margin: 1.5rem 0;
      }

      .inputs {
        .input {
          margin: 1rem 0;
        }
      }

      .date-of-birth {
        h3 {
          font: var(--main-bold-sm);
          margin: 0.25rem 0;
        }
        p {
          font: var(--main-extra-sm);
          color: var(--theme-dark-gray);
          margin: 0;
        }
      }

      .selects {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
