@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "TwitterChirp";
  src: url("/assets/fonts/twitter-chirp/Font_1.eot");
  src: url("/assets/fonts/twitter-chirp/Font_1.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/twitter-chirp/Font_1.woff2") format("woff2"),
    url("/assets/fonts/twitter-chirp/Font_1.woff") format("woff"),
    url("/assets/fonts/twitter-chirp/Font_1.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

$--headline: --headline;
$--headline-bg: --headline-bg;
$--headline-md: --headline-md;
$--headline-sm: --headline-sm;
$--main-bold-bg: --main-bold-bg;
$--main-bold-md: --main-bold-md;
$--main-bold-sm: --main-bold-sm;
$--main-bg: --main-bg;
$--main-md: --main-md;
$--main-sm: --main-sm;

$fonts: (
  $--headline-bg: 2.5rem "TwitterChirp",
  $--headline-md: 1.5rem "TwitterChirp",
  $--headline-sm: 1rem "TwitterChirp",
  $--main-bold-bg: 700 2.5rem Roboto,
  $--main-bold-md: 700 1.5rem Roboto,
  $--main-bold-sm: 700 1rem Roboto,
  $--main-bg: 2.5rem Roboto,
  $--main-md: 1.5rem Roboto,
  $--main-sm: 1rem Roboto,
);
